﻿﻿﻿﻿@model List<Vjezba.Model.City>

@{
    ViewBag.Title = "Index";
}

<h2>Pregled gradova</h2>

<table class="table table-condensed table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Naziv</th>
            <th>PBR</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var city in Model)
        {
            <tr>
                <td>@city.ID</td>
                <td>@Html.ActionLink(city.Name, "Details", new { id = city.ID })</td>
                <td>@city.PostalCode</td>
            </tr>
        }

    </tbody>
</table>
