﻿﻿@model Vjezba.Model.Company
@{
    ViewBag.Title = "Create new company";
}
<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Pregled kompanija", "Index")</li>
    <li class="active">Kreiranje nove kompanije</li>
</ol>
<h2>Create new company</h2>
@using (Html.BeginForm())
{
    <text>
        @Html.Partial("_CreateOrEdit")
    </text>

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

